<a href="/invoice/{{invoice.id}}">
  <div class="invoice-row">
    <div class="invoice-row-id">
      <h4>#{{invoice.id}}</h4>
    </div>
    <div class="invoice-row-due">
      {{#if invoice.hasDue}}
      Due
      {{invoice.paymentDue}}
      {{/if}}
    </div>
    <div class="invoice-row-client-name">{{invoice.clientName}}</div>
    <div class="invoice-row-total">
      <h3>{{invoice.totalCurrency}}</h3>
    </div>
    {{> statusBadge invoice=invoice}}
    <div class="invoice-row-client-arrow"><img src="/images/icon-arrow-right.svg" alt="Arrow right" /></div>
  </div>
</a>